.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.border-unilectives-search {
    --tw-border-opacity: 1;
    border-color: rgb(156 173 233/var(--tw-border-opacity));
}
.text-unilectives-subheadings{
    --tw-text-opacity: 1;
    color: rgb(152 152 152/var(--tw-text-opacity));
}

.shadow-review-card {
    --tw-shadow: 0px 2px 2px rgba(0,0,0,.1);
    --tw-shadow-colored: 0px 2px 2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);

}
.border-unilectives-subheadings {
    --tw-border-opacity: 1;
    border-color: rgb(152 152 152/var(--tw-border-opacity));
}