.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
}

.shadow-2xl, .shadow-lg {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

.bg-unilectives-card {
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250/var(--tw-bg-opacity));
}

.text-unilectives-headings {
    --tw-text-opacity: 1;
    color: rgb(32 32 32/var(--tw-text-opacity));
}
.text-unilectives-subheadings\/30 {
    color: hsla(0,0%,60%,.3);
}
.bg-unilectives-tags {
    --tw-bg-opacity: 1;
    background-color: rgb(204 235 246/var(--tw-bg-opacity));
}

.bg-unilectives-purple {
    --tw-bg-opacity: 1;
    /* background-color: rgb(183 137 229/var(--tw-bg-opacity)); */
}

.bg-unilectives-purple {
    --tw-bg-opacity: 1;
    background-color: rgb(183 137 229/var(--tw-bg-opacity));
}